:root{
    --light-grey: #7a7d81;
    --dark-grey: #141922;
    --light-black: #080b12;
    --dark-black: #000000;
    --grey: #282828;

}
html{
    color: white;
    line-height: 160%;
}
.container{
    display: flex;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.overflow{
    overflow: scroll;
}
img{
    width: 100%;
    display: block;
}
/* column left css */
.up .side-left{
    background-color: var(--dark-black);
    gap: 10px;
    align-items: center;
    padding-block: 2%;
    justify-content: space-between;
}
.up .side-left .tools{
    gap: 5px;
}
.up .side-left .title{
    display: none;
}
.up .side-left .playlist{
    display: none;
}
.up .side-left .spotify{
    justify-content: center;
}
.up .side-left .logo-spotify{
    display: none;
}
.up .side-left .logo-small-spotify{
    width: 70%;
}
.up .side-left .home{
    justify-content: center;
}
.up .side-left .home img{
    width: 60%;
}
.up .side-left .search{
    justify-content: center;
}
.up .side-left .search img{
    width: 60%;
}
.up .side-left .library{
    justify-content: center;
}
.up .side-left .library img{
    width: 60%;
}
.up .side-left .hr{
    border: 1px solid white;
}
.up .side-left .user{
    gap: 5px;
}
.up .side-left .download{
    justify-content: center;
}
.up .side-left .download img{
    width: 40%;
    text-align: center;
    fill: var(--light-grey)
}
.up .side-left .profile{
    justify-content: center;
}
.up .side-left .profile img{
    width: 60%;
}
/* main block header css */
.up .side-right .right-up{
    height: 10vh;
    background-color: var(--light-black);
    justify-content: flex-end;
    align-items: center;
}
.btn{
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 40px;
    margin-right: 10px;
    background-color: var(--light-black);
    color: white;
}
/* main block central css */
.up .side-right .right-down{
    background-color: var(--dark-grey);
    gap: 20px;
    padding-inline: 2%;
}
.up .side-right .right-down .nav-bar{
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.up .side-right .right-down .nav-bar div{
    width:calc((100% - 30px) /4) ;
    justify-content: center;
    align-items: center;
    font-size: 75%;
    line-height: 100%;
    margin-block: 5px;
    color: grey;
}
.up .side-right .right-down .card-container{
    flex-wrap: wrap;
    gap: 10px;
}
.up .side-right .right-down .card-container .card{
    width: calc( ( 100% - 10px) / 2);
    gap: 5px;
}
.up .side-right .right-down .card-container .card .card-subtitle{
    font-size: 80%;
    color: gray;
}
.up .side-right .right-down .card-container .card .card-title{
    font-size: 130%;
}
.up .side-right .right-down .title-subtitle .subtitle{
    font-size: 80%;
    color: var(--light-grey);
}
.up .side-right .right-down .round img{
    border-radius: 50%;
}
/* footer css */

.down{
    background-color: var(--grey);
    height: 10vh;
    justify-content: space-between;
}
.down .song-details{
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 5px ;
}
.down .song-details .song-logo{
    flex-basis: 30%;
}
.down .song-details .song-info{
    line-height: 80%;
    font-size: 80%;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.down .song-details .song-info .song-artist{
    color: var(--light-grey);
    text-align: center;
}
.down .play-tools{
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.down .play-tools .side-up{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.down .play-tools .side-up .play-logo-rounded{
    aspect-ratio: 1;
    border: 2px solid white;
    border-radius: 50%;
}
.down .play-tools .side-down .minute-start{
    font-size: 70%;
}
.down .play-tools .side-down .minute-end{
    font-size: 70%;
}
.down .last-info{
    gap: 5px;
    align-items: center;
    margin: 3%;
}
/* starting the media queery */
@media screen and (min-width:480px){
    /* side left css */
    .up .side-left{
        background-color: var(--dark-black);
        gap: 10px;
        align-items: flex-start;
        padding-block: 2%;
        flex-basis: 30%;
    }
    .up .side-left .tools{
        align-items: flex-start;
    }
    .up .side-left .spotify{
        justify-content: flex-start;
        padding: 10px;
    }
    .up .side-left .home{
        justify-content: flex-start;
        padding: 10px;
        align-items: center;
        gap: 5px;
    }
    .up .side-left .search{
        justify-content: flex-start;
        padding: 10px;
        align-items: center;
        gap: 5px;
    }
    .up .side-left .library{
        justify-content: flex-start;
        padding: 10px;
        align-items: center;
        gap: 5px;
    }
    .up .side-left .playlist{
        justify-content: flex-start;
        padding: 10px;
        display: flex;
        gap: 5px;
    }
    .up .side-left .logo-spotify{
        display: block;
    }
    .up .side-left .logo-small-spotify{
        display: none;
    }
    .up .side-left .title{
        display: block;
    }
    .up .side-left .home img{
        width: 30%;
    }
    .up .side-left .search img{
        width: 30%;
    }
    .up .side-left .library img{
        width: 30%;
    }
    .up .side-left .download img{
        width: 10%;
    }
    .up .side-left .profile img{
        width: 20%;
    }
    .up .side-left .playlist .create{
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .up .side-left .playlist .create i {
        font-size: 200%;
    }
    .up .side-left .user{
        gap: 5px;
        justify-content: flex-start;
        align-items: center;
    }
    .up .side-left .user .download{
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        margin: 5px;
    }
    .up .side-left .user .profile{
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        margin: 5px;
    }
    /* side right */
    .up .side-right {
        flex-basis: 70%;
    }
    .up .side-right .right-down .nav-bar div{
        width:calc((100% - 30px) /3) ;
        justify-content: center;
        align-items: center;
        font-size: 75%;
        line-height: 100%;
        margin-block: 5px;
        color: var(--light-grey);
    }
    /* side down */
    .down{
        background-color: var(--grey);
        height: 10vh;
        justify-content: center;
        gap: 10px
    }
    .down div{
        width: calc((100% - 20px) / 3);
    }
    .down .song-details{
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        margin: 5px ;
    }
    .down .song-details .song-logo{
        flex-basis: 10%;
    }
    .down .song-details .song-info{
        line-height: 160%;
        font-size: 100%;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        margin-inline: 20px;
    }
    
    .down .song-details .song-info .song-artist{
        color: var(--light-grey);
    }
}
@media screen and (min-width:768px){
    
}
@media screen and (min-width:1024px){
    
}