html{
    color: white;
    line-height: 160%;
}
.container{
    display: flex;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.overflow{
    overflow: scroll;
}
img{
    width: 100%;
    display: block;
}
/* column left css */
.up .side-left{
    background-color: black;
    gap: 10px;
    align-items: center;
    padding-block: 2%;
}
.up .side-left .tools{
    gap: 5px;
}
.up .side-left .title{
    display: none;
}
.up .side-left .playlist{
    display: none;
}
.up .side-left .spotify{
    justify-content: center;
}
.up .side-left .logo-spotify{
    display: none;
}
.up .side-left .logo-small-spotify{
    width: 70%;
}
.up .side-left .home{
    justify-content: center;
}
.up .side-left .home img{
    width: 60%;
}
.up .side-left .search{
    justify-content: center;
}
.up .side-left .search img{
    width: 60%;
}
.up .side-left .library{
    justify-content: center;
}
.up .side-left .library img{
    width: 60%;
}
.up .side-left .hr{
    border: 1px solid white;
}
.up .side-left .user{
    gap: 5px;
}
.up .side-left .download{
    justify-content: center;
}
.up .side-left .download img{
    width: 40%;
    color: grey;
}
.up .side-left .profile{
    justify-content: center;
}
.up .side-left .profile img{
    width: 60%;
}
/* main block header css */
.up .side-right .right-up{
    height: 10vh;
    background-color: darkblue;
    justify-content: flex-end;
    align-items: center;
}
.btn{
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 40px;
    margin-right: 10px;
    background-color: black;
    color: white;
}
/* main block central css */
.up .side-right .right-down{
    background-color: orange;
    gap: 20px;
    padding-inline: 2%;
}
.up .side-right .right-down .nav-bar{
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.up .side-right .right-down .nav-bar div{
    width:calc((100% - 30px) /4) ;
    justify-content: center;
    align-items: center;
    font-size: 75%;
    line-height: 100%;
    margin-block: 5px;
    color: grey;
}
.up .side-right .right-down .card-container{
    flex-wrap: wrap;
    gap: 10px;
}
.up .side-right .right-down .card-container .card{
    width: calc( ( 100% - 10px) / 2);
    gap: 5px;
}
.up .side-right .right-down .card-container .card .card-subtitle{
    font-size: 80%;
    color: gray;
}
.up .side-right .right-down .card-container .card .card-title{
    font-size: 130%;
}
.up .side-right .right-down .title-subtitle .subtitle{
    font-size: 80%;
    color: gray;
}
.up .side-right .right-down .round img{
    border-radius: 50%;
}
/* footer css */

.down{
    background-color: blue;
    height: 10vh;
}